@import url(/variables.css);

.logo {
  width: 209px;
  height: 18px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1520px;
  height: 101px;
  border-bottom: 1px solid;
  margin: auto;

}

.menu-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
}

.menu {
  font-family: var(--font-pagename-fontfamily);
  color: var(--mainmenu-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.hr-menu {
  width: 15px;
  border-style: solid;
  border-width: 1px;
}

.menu-social {
  margin: 12px;

}

.page-title {
  display: flex;
align-items: center;
  width: 1520px;
padding-top: 40px;
  margin: auto;



}